{% extends 'base.html' %}
{% load static %}

{% block title %}О нас — Пасека{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/info.css' %}">
{% endblock %}

{% block content %}
    <section class="info" style="margin-bottom:0;">
        <h2>НАША ПАСЕКА</h2>
        <p> Пчелы - одни из самых удивительных созданий на земле. Во все времена они поражали людей своим трудолюбием и дарили им полезные продукты.
            <br>Пасека «Дивный улей» — место, где трудолюбивые пчёлы и любовь к природе соединяются в единое целое. Здесь мы заботимся о каждом<br>
            улье, ведь только в гармонии с окружающим миром рождается настоящий, живой и полезный мёд.<br>
            Наша пасека — это не просто производство, а уютный уголок, где пчёлы чувствуют себя свободно и счастливо.
            Мы бережно ухаживаем за пчелиными<br>
            семьями; создаём условия для их естественной жизни; собираем мёд и продукты пчеловодства.
            Каждая баночка мёда с нашей пасеки несёт в себе<br>
            не только аромат лугов и цветов, но и частичку нашей души.</p>
        <div class="gallery">
            <img src="{% static 'main/img/beese.jpg' %}" alt="">
            <img src="{% static 'main/img/fodiv.jpg' %}" alt="">
            <img src="{% static 'main/img/photo_2025-07-03_14-18-49.jpg' %}" alt="">
        </div>
        <p> Для нас пасека — это больше, чем работа. Это маленький мир, полный тайн и чудес, где слышен звонкий гул пчёл, чувствуется аромат свежих сот<br>
            и рождается уважение к природе. Мы хотим делиться этой красотой и добром с вами. Поэтому, открывая баночку мёда из «Дивного улья», <br>
            вы получаете не просто лакомство — вы прикасаетесь к живой энергии солнца, земли и цветов.
<br>Добро пожаловать в наш дивный мир пчёл и настоящего мёда!</p>
    </section>
    
    <section class="product">
    <div class="product-text">
        <img src="{% static 'main/img/Star 6.png' %}" alt="" class="hex-bg">
        <h1>ТОЛЬКО НАТУРАЛЬНЫЕ ПРОДУКТЫ</h1>
        <p>
            Наш мёд и продукты пчеловодства не подвергаются лишней обработке и сохраняют всё,
            что дарит сама природа: аромат луговых трав, вкус свежих цветов и пользу для здоровья.
            Каждая капля мёда — это результат труда пчёл и заботы человека, без добавок,
            красителей и искусственных примесей. Только натуральность, проверенная временем
            и поддержанная нашей любовью к пчёлам.
        </p>
    </div>
    <div class="product-img">
        <img src="{% static 'main/img/Group 28.png' %}" alt="Натуральный мёд">
    </div>
</section>
{% endblock %}